body {
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    background: radial-gradient(234.60% 150.85% at -3.72% -2.59%, #F9BEA5 0.01%, #113D3D 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

body a {
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.5;
    z-index: 50;
    transition: opacity 0.3s ease;
}

body a:hover {
    opacity: 0.3;
}

.canvasContainer {
    position: relative;
}

canvas {
    display: block;
    background: rgba(37, 37, 37, 0.95);
    box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 800px;
    height: 800px;
    position: relative;
}